Repository EnergieID/entsoe-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, pylint, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ğŸ¶ Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: ğŸ¶ Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: ğŸ Check Python AST
        language: system
        types: [python]
        entry: uv run check-ast
      - id: check-case-conflict
        name: ğŸ”  Check for case conflicts
        language: system
        entry: uv run check-case-conflict
      - id: check-docstring-first
        name: â„¹ï¸  Check docstring is first
        language: system
        types: [python]
        entry: uv run check-docstring-first
      - id: check-executables-have-shebangs
        name: ğŸ§ Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: uv run check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: ï½› Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-merge-conflict
        name: ğŸ’¥ Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: ğŸ”— Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: check-toml
        name: âœ… Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-xml
        name: âœ… Check XML files
        entry: check-xml
        language: system
        types: [xml]
      - id: check-yaml
        name: âœ… Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: codespell
        name: âœ… Check code for common misspellings
        language: system
        types: [text]
        exclude: ^uv\.lock$
        entry: uv run codespell
      - id: detect-private-key
        name: ğŸ•µï¸  Detect Private Keys
        language: system
        types: [text]
        entry: uv run detect-private-key
      - id: end-of-file-fixer
        name: â®  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: ğŸ›‘ Don't commit to main branchpre-commit migrate-config
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: ğŸŒŸ Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
        exclude: ^docs/
      - id: trailing-whitespace
        name: âœ„  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: uv run trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: yamllint
        name: ğŸ—  Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: uv run yamllint

Update workflow files
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yaml
  .github/labels.yaml
  .github/release-drafter.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/codeql.yaml
  .github/workflows/linting.yaml
  .github/workflows/lock.yaml
  .github/workflows/publish-to-test-pypi.yml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Remove typing workflow configuration
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Enable unit testing
  .env.example
  .github/workflows/tests.yaml
  pyproject.toml
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-yaml, codespell, pylint, yamllint

Add uv.lock to .gitignore
  .gitignore
Due: codespell

Reorganize build-system section in pyproject.toml
  pyproject.toml
Due: check-toml, codespell

Fix incorrect voltage tag in capacity parser
  entsoe/parsers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

this adds the start period to capacity per plant
  entsoe/parsers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

Fix DE_LU and AT day-ahead prices: update SDAC sequence from 1 to 2
  entsoe/entsoe.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

tests: fixed warning
  entsoe/parsers.py
  entsoe/series_parsers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

ignoring vscode settings.json
  .gitignore
Due: codespell

build: added lxml dependency
  requirements.txt
Due: codespell

tests: added many tests
  pytest.ini
  tests/README.md
  tests/test_client.py
  tests/test_client_improved.py
  tests/test_decorators.py
  tests/test_exceptions.py
  tests/test_integration.py
  tests/test_integration_improved.py
  tests/test_mappings.py
  tests/test_misc.py
  tests/test_parsers.py
  tests/test_series_parsers.py
  tests/test_utils.py
  tests/test_working_suite.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

Replace shallow tests with comprehensive meaningful test suite
  tests/conftest.py
  tests/test_client.py
  tests/test_decorators.py
  tests/test_mappings.py
  tests/test_misc.py
  tests/test_parsers.py
  tests/test_series_parsers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

feat: Add support for parsing ZIP archives of procured balancing capacity
  entsoe/entsoe.py
  entsoe/parsers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

version bump
  entsoe/entsoe.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

Add offline unit tests for parsers (no API key required)
  tests/conftest.py
  tests/fixtures/a03_gaps.xml
  tests/fixtures/crossborder_flows.xml
  tests/fixtures/generation.xml
  tests/fixtures/generation_mixed.xml
  tests/fixtures/installed_capacity_per_plant.xml
  tests/fixtures/loads.xml
  tests/fixtures/prices.xml
  tests/test_parsers.py
  tests/test_series_parsers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

started working on bringing tests up to date and complete for raw
  .github/workflows/ci.yaml
  tests/test_raw.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml, codespell, pylint, yamllint

raw tests now working
  .github/workflows/ci.yaml
  requirements_dev.txt
  tests/test_raw.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml, codespell, pylint, yamllint

tests now working!
  tests/test_pandas.py
  tests/test_raw.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

setup secrets
  .github/workflows/ci.yaml
Due: check-yaml, codespell, yamllint

fix secrets again
  .github/workflows/ci.yaml
Due: check-yaml, codespell, yamllint

introduction of comprehensive test suite (#131)
  .github/workflows/ci.yaml
  requirements_dev.txt
  tests/test_pandas.py
  tests/test_raw.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml, codespell, pylint, yamllint

make parallel test cases fix issue for pandas 3 in parser version bump
  .github/workflows/ci.yaml
  .github/workflows/run_all_tests.yaml
  entsoe/entsoe.py
  entsoe/parsers.py
  pytest.ini
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml, codespell, pylint, yamllint

remove a cancell call
  .github/workflows/run_all_tests.yaml
Due: check-yaml, codespell, yamllint

disable paralel test runners
  .github/workflows/run_all_tests.yaml
Due: check-yaml, codespell, yamllint

fixed query_intraday_offered_capacity, fixed #527
  .github/workflows/run_all_tests.yaml
  .gitignore
  entsoe/entsoe.py
  tests/test_pandas.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml, codespell, pylint, yamllint

tolerate overlapping time series when parsing imbalance volumes
  entsoe/parsers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

fix year_limited dropping the chunk-start point at year boundaries
  entsoe/decorators.py
  tests/test_year_boundary_falsification.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

fix: fix: poundage → pondage spelling
  entsoe/mappings.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

move the year boundary tests into tests/test_pandas.py
  tests/test_pandas.py
  tests/test_year_boundary_falsification.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

fix missing pages in transmission unavailability queries
  entsoe/entsoe.py
  tests/test_pandas.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

add new method to readme
  README.md
Due: codespell

change decorator
  entsoe/decorators.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

add parser
  entsoe/parsers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

add new query method
  entsoe/entsoe.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

fix: support pts4s resolution (resolve #516, #493) fix: handle empty activated balancing energy prices
  entsoe/parsers.py
  entsoe/series_parsers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

test: add basic tests for activated balancing energy parsing
  tests/test_parsers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

added new method
  entsoe/decorators.py
  entsoe/entsoe.py
  tests/test_price_currencies.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint

Remove day-ahead prices currency example
  README.md
Due: codespell
